* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Now;
    background-color: #97CCCF;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.sponsors-title {
    display: block;
    font-family: 'Now';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5.5rem;
    letter-spacing: 0.3em;
    color: #000000;
    width: 100%;
    text-align: center;
    margin-top: 8rem; 
}

.sponsors-subtitle {
    display: block;
    font-family: 'Now Alt';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.375rem;
    text-align: center;
    letter-spacing: 0.3em;
    color: #263238;
    width: 100%;
    text-align: center;
    margin-top: 5rem; 
  }

.sponsors-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem; 
}

.sponsor {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 0 ;
}

.sponsor-details {
    text-align: center;
    font-family: 'Now Alt';
    font-style: normal;
}

.sponsor-details div {
    font-size: 1.5rem;
}

.sponsor-details img {
    width: 242px;
    height: 227px;
}

.margin {
    border: 6px solid;
    width: 93%;
    height: 100%;
}

@media all and (max-width: 1720px) and (min-height: 865px) {
    .sponsors-title {
        font-size: 5rem;
        margin-top: 8rem; 
    }
    
    .sponsors-subtitle {
        font-size: 3rem;
        margin-top: 2.5rem;
      }
    
    .sponsors-container {
        margin-top: 2rem; 
    }
    
    .sponsor {
        flex-direction: row;
        margin-top: 3rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 13rem;
        height: 13rem;
    }
    
    .margin {
        border: 5px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 1540px) and (min-height: 768px) {
    .sponsors-title {
        font-size: 4.25rem;
        margin-top: 6rem; 
    }
    
    .sponsors-subtitle {
        font-size: 2rem;
        margin-top: 1.5rem;
      }
    
    .sponsors-container {
        margin-top: 2rem; 
    }
    
    .sponsor {
        flex-direction: row;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 11rem;
        height: 11rem;
    }
    
    .margin {
        border: 5px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 1300px) and (min-height: 768px) {
    .sponsors-title {
        font-size: 4.25rem;
        margin-top: 8rem; 
    }
    
    .sponsors-subtitle {
        font-size: 2rem;
        margin-top: 1.5rem;
      }
    
    .sponsors-container {
        margin-top: 2rem; 
    }
    
    .sponsor {
        flex-direction: row;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.20rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 9rem;
        height: 9rem;
    }
    
    .margin {
        border: 5px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 1000px) and (min-height: 768px) {
    .sponsors-title {
        font-size: 4.25rem;
        margin-top: 8rem; 
    }
    
    .sponsors-subtitle {
        font-size: 2rem;
        margin-top: 1.5rem;
      }
    
    .sponsors-container {
        margin-top: 2rem; 
    }
    
    .sponsor {
        flex-direction: row;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 8rem;
        height: 8rem;
    }
    
    .margin {
        border: 4px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 850px) {
    .sponsors-title {
        font-size: 3rem;
        margin-top: 2rem; 
    }
    
    .sponsors-subtitle {
        font-size: 1.75rem;
        margin-top: 0.5rem;
      }
    
    .sponsors-container {
        margin-top: 1rem; 
    }
    
    .sponsor {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 11rem;
        height: 11rem;
    }
    
    .margin {
        border: 3px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 640px) {
    .sponsors-title {
        font-size: 3rem;
        margin-top: 2rem; 
    }
    
    .sponsors-subtitle {
        font-size: 1.75rem;
        margin-top: 0.5rem;
      }
    
    .sponsors-container {
        margin-top: 1rem; 
    }
    
    .sponsor {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 11rem;
        height: 11rem;
    }
    
    .margin {
        border: 3px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 480px) {
    .sponsors-title {
        font-size: 3rem;
        margin-top: 2rem; 
    }
    
    .sponsors-subtitle {
        font-size: 1.75rem;
        margin-top: 0.5rem;
      }
    
    .sponsors-container {
        margin-top: 1rem; 
    }
    
    .sponsor {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsor-details img {
        width: 11rem;
        height: 11rem;
    }
    
    .margin {
        border: 3px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 350px) and (min-height: 760px) {
    .sponsors-title {
        font-size: 2rem;
        margin-top: 2rem; 
    }
    
    .sponsors-subtitle {
        font-size: 1.25rem;
        margin-top: 0.5rem;
      }
    
    .sponsors-container {
        margin-top: 1rem; 
    }
    
    .sponsor {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    .margin {
        border: 3px solid;
        width: 93%;
        height: 200%;
    }
}

@media all and (max-width: 380px) and (min-height: 660px) {
    .sponsors-title {
        font-size: 2rem;
        margin-top: 2rem; 
    }
    
    .sponsors-subtitle {
        font-size: 1.25rem;
        margin-top: 0.5rem;
      }
    
    .sponsors-container {
        margin-top: 1rem; 
    }
    
    .sponsor {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .sponsor-details div {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    .sponsor-details img {
        width: 11rem;
        height: 11rem;
    }

    .margin {
        border: 3px solid;
        width: 93%;
        height: 200%;
    }
}